<?xml version="1.0" encoding="UTF-8"?>

<!-- This file contains a standalone Gazebo configuration. -->

<launch>
    <!-- Load Gazebo with given world-->
    <arg name="gui" default="true" />
    <arg name="world" default="worlds/willowgarage.world" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find mtracker)/worlds/$(arg world)" />
        <arg name="gui" value="$(arg gui)" />
    </include>

    <!-- Spawn the robot -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <node name="mtracker_spawn" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param robot_description -model mtracker -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>
